:root {
  --gray1: hsl(0 0% 99%);
  --gray2: hsl(0 0% 97.3%);
  --gray3: hsl(0 0% 95.1%);
  --gray4: hsl(0 0% 93%);
  --gray5: hsl(0 0% 90.9%);
  --gray6: hsl(0 0% 88.7%);
  --gray7: hsl(0 0% 85.8%);
  --gray8: hsl(0 0% 78%);
  --gray9: hsl(0 0% 56.1%);
  --gray10: hsl(0 0% 52.3%);
  --gray11: hsl(0 0% 43.5%);
  --gray12: hsl(0 0% 9%);
}

:root {
  --slate1: hsl(206 30% 98.8%);
  --slate2: hsl(210 16.7% 97.6%);
  --slate3: hsl(209 13.3% 95.3%);
  --slate4: hsl(209 12.2% 93.2%);
  --slate5: hsl(208 11.7% 91.1%);
  --slate6: hsl(208 11.3% 88.9%);
  --slate7: hsl(207 11.1% 85.9%);
  --slate8: hsl(205 10.7% 78%);
  --slate9: hsl(206 6% 56.1%);
  --slate10: hsl(206 5.8% 52.3%);
  --slate11: hsl(206 6% 43.5%);
  --slate12: hsl(206 24% 9%);
}
