.dark {
  --sky1: hsl(205 45% 8.6%);
  --sky2: hsl(202 71.4% 9.6%);
  --sky3: hsl(201 74.6% 12.2%);
  --sky4: hsl(201 77.4% 14.4%);
  --sky5: hsl(200 80.3% 16.5%);
  --sky6: hsl(200 84.1% 18.9%);
  --sky7: hsl(199 90.2% 22.1%);
  --sky8: hsl(198 100% 26.1%);
  --sky9: hsl(193 98% 70%);
  --sky10: hsl(192 100% 77%);
  --sky11: hsl(192 85% 55.8%);
  --sky12: hsl(198 98% 95.8%);
}

.dark {
  --cyan1: hsl(192 60% 7.2%);
  --cyan2: hsl(192 71.4% 8.2%);
  --cyan3: hsl(192 75.9% 10.8%);
  --cyan4: hsl(192 79.3% 12.8%);
  --cyan5: hsl(192 82.5% 14.6%);
  --cyan6: hsl(192 86.6% 16.9%);
  --cyan7: hsl(192 92.6% 20.1%);
  --cyan8: hsl(192 100% 24.5%);
  --cyan9: hsl(190 95% 39%);
  --cyan10: hsl(188 100% 40%);
  --cyan11: hsl(186 100% 42.2%);
  --cyan12: hsl(185 73% 93.2%);
}

.dark {
  --blue1: hsl(212 35% 9.2%);
  --blue2: hsl(216 50% 11.8%);
  --blue3: hsl(214 59.4% 15.3%);
  --blue4: hsl(214 65.8% 17.9%);
  --blue5: hsl(213 71.2% 20.2%);
  --blue6: hsl(212 77.4% 23.1%);
  --blue7: hsl(211 85.1% 27.4%);
  --blue8: hsl(211 89.7% 34.1%);
  --blue9: hsl(206 100% 50%);
  --blue10: hsl(209 100% 60.6%);
  --blue11: hsl(210 100% 66.1%);
  --blue12: hsl(206 98% 95.8%);
}

/* :root {
  --purple1: hsl(280 65% 99.4%);
  --purple2: hsl(276 100% 99%);
  --purple3: hsl(276 83.1% 97%);
  --purple4: hsl(275 76.4% 94.7%);
  --purple5: hsl(275 70.8% 91.8%);
  --purple6: hsl(274 65.4% 87.8%);
  --purple7: hsl(273 61% 81.7%);
  --purple8: hsl(272 60% 73.5%);
  --purple9: hsl(272 51% 54%);
  --purple10: hsl(272 46.8% 50.3%);
  --purple11: hsl(272 50% 45.8%);
  --purple12: hsl(272 66% 16%);
} */

.dark {
  --purple1: hsl(284 20% 9.6%);
  --purple2: hsl(283 30% 11.8%);
  --purple3: hsl(281 37.5% 16.5%);
  --purple4: hsl(280 41.2% 20%);
  --purple5: hsl(279 43.8% 23.3%);
  --purple6: hsl(277 46.4% 27.5%);
  --purple7: hsl(275 49.3% 34.6%);
  --purple8: hsl(272 52.1% 45.9%);
  --purple9: hsl(272 51% 54%);
  --purple10: hsl(273 57.3% 59.1%);
  --purple11: hsl(275 80% 71%);
  --purple12: hsl(279 75% 95.7%);
}
