@import url("https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter.var.woff2) format("woff2");
}

.prose img {
  @apply shadow-xl;
}

.about a {
  @apply text-blue-600 hover:underline;
}
