@import url("https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.prose img {
  @apply shadow-xl;
}

@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter.var.woff2) format("woff2");
}

.prose.font-serif img {
  @apply shadow-none;
  border: 1px solid;
  box-shadow: 5px 5px;
  margin: 10px auto;
  color: black;
}

.prose.font-serif h2,
.prose.font-serif h3,
.prose.font-serif h4,
.prose.font-serif h5,
.prose.font-serif h1 {
  @apply font-normal font-sans;
}

.footnotes > ol::before {
  content: "References";
  @apply mb-4 text-2xl font-semibold;
}

.about a {
  @apply text-blue-600 hover:underline;
}

.prose.font-serif code {
  @apply bg-transparent font-normal tracking-wide text-black !important;
}
