@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter.var.woff2) format("woff2");
}

@font-face {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/newsreader-normal.woff2) format("woff2");
}

@font-face {
  font-family: "Newsreader";
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/newsreader-italic.woff2) format("woff2");
}

.prose.font-serif h2,
.prose.font-serif h3,
.prose.font-serif h4,
.prose.font-serif h5,
.prose.font-serif h1 {
  @apply font-normal font-sans;
}

.footnotes > ol::before {
  content: "References";
  @apply mb-4 text-2xl font-semibold;
}

.about a {
  @apply text-blue-600 hover:underline;
}

.prose.font-serif code {
  @apply bg-transparent font-normal tracking-wide text-black dark:text-white !important;
}

html,
body,
#__next {
  height: 100%;
}

.highlight[aria-expanded="true"] {
  @apply text-black dark:!text-white;
}

.inset-outline {
  outline-width: 2px;
  outline-offset: -2px;
}
